.collapsible {
    background: #cfe2f3;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
    height: 0px;
    overflow: hidden;
    transition: height ease 0.5s;
}

.content.show {
    display: flex;
    flex-direction: column;
    height: 2200px;
}

@media screen and (max-width: 480px) {
    .content.show {
        height: 3000px;
    }
}